@import url("htt.ps://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box; 
    font-family: "poppins" , sans-serif;
}

marquee {
    background-color:red;
    color: black;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    background-color:black;
    color: #fff;
    padding: 20px;
    margin-top: -10px;
    }

header h1 {
    margin: 0px;
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:#daa12a;
}

header h2 {
    margin: 0px;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;    
}

/* img {
    height: 600px;
    width: 500px;
    margin-left: 410px;
} */

body {
    
    align-items: center;
    min-height: 100vh;
    background: aliceblue;
    background-size: cover;
    background-position: center;
    }

.wrapper {
    /* margin-left: 450px; */
    margin-top: 30px;
    max-width: 500px;
    width: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255,255, .2);
    backdrop-filter: blur (30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius: 10px;
    padding: 10px;
}
.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

   
.wrapper p {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
}

.wrapper h2 {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

} 

.input-box input{
    width: 100%;
    height: 100%;
    background: lavender;
    border: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: black;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translateY(0%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    /* height: 45px; */
    background: black;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    padding: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.popup{
    /* margin-top: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
    /* margin-left: 470px;  */
    border-radius: 20px;
    background-color: white;
}

.popup i{
    font-size: 100px;
    color: green;
}

.popup h3{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #333;
}

.popup h4{
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #808080;
    text-align: center;
}

.popup button{
    font-size: 14px;
    padding: 6px 12px;
    margin: 0 10px; 
}

.popup .button{
    margin-top: 25px;
    margin-left: -10px;
    width: 150%;
    height: 45px;
    background: red;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

footer {
    background-color:none;
    color: #fff;
    text-align: center;
    padding:20px;
    margin-top: 10px;
}

footer a {
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

footer a:hover {
    text-decoration: underline;
}

.loader-box{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #0000008f;
}

.loader {
  width: 100px;
  height: 100px;
  border: 5px solid #f50000;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}
.loader:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% { transform: translate(-50%, -50%) scale(0) }
  60% , 100% { transform: translate(-50%, -50%)  scale(1)}
}
@keyframes pulse {
  0% , 60% , 100%{ transform:  scale(1) }
  80% { transform:  scale(1.2)}
}

.image-box{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.image-box img{
    height: 100%;
    width: 100%;
    max-width: 500px;
}


.main{
display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    position: fixed;
}

.btn[disabled]{
background-color: #d5d5d5;
}